﻿@model IEnumerable<Cibertec.Models.Customers>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a href="#" onclick="cibertec.getModal('@Url.Action("Edit", new{id=item.CustomerId})'); return false;"
                   data-toggle="modal" data-target="#modal-container" class="btn btn-warning btn-sm">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </a>

                <a href="#" onclick="cibertec.getModal('@Url.Action("Delete", new{id=item.CustomerId})'); return false;"
                   data-toggle="modal" data-target="#modal-container" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-edit"></span> Delete
                </a>
                
                <a href="#" onclick="cibertec.getModal('@Url.Action("Details", new{id=item.CustomerId})'); return false;"
                   data-toggle="modal" data-target="#modal-container" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> Details
                </a>
            </td>
        </tr>
    }

</table>
