﻿@if (Request.IsAuthenticated)
{
    using(Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink($"Hello {User.Identity.Name}", "Index", "Home")
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues:null,
           htmlAttributes: new { id = "loginLink" }) 
        </li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues:null,
           htmlAttributes: new { id = "registerLink" }) 
        </li>
    </ul>
}
