﻿@helper Message(string id, string action, string type, string message)
    {
        <div id="@id" class="hidden">
            <div class="alert alert-@type">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>@action!</strong> @message
            </div>
        </div>
}

@helper AlertMessages()
{
    @Message("createMessage", "New", "success", "El cliente ha sido creado exitosamente!")
    @Message("deleteMessage", "Delete", "danger", "El cliente ha sido eliminado exitosamente!")
    @Message("editMessage", "Edit", "success", "El cliente ha sido actualizado exitosamente!")
}