﻿@helper GetModal(string title, string closeFunction)
{ 
    <div class="modal fade" id="modal-container" tabindex="-1" 
         role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">@title</h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#modal-container').on('hidden.bs.modal', function () {@closeFunction});
        });
    </script>
}